@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: "Poppins";
    color: #333;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: rgb(71, 156, 236);
}
.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left:  16px;
    text-decoration: none;
    padding: 6px;
    color: #fff;
    background-color: rgb(71, 156, 236);
}

.navbar a:hover{
    color: rgb(71, 156, 236);
    background-color: #fff;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.song-preview, .song-header {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr 2fr;
    grid-gap: 20px;
    justify-items: start;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
/* 
.song-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
} */

.song-preview h2 {
    font-size: 20px;
    color: rgb(71, 156, 236);
    margin-bottom: 8px;
}   

.deleteBtn {
    margin: 5px;
}

form {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.genreButtons{
/* display: flex;
max-width: 400px;
justify-content: space-between; */

 display: flex;
 justify-content: center;
 align-items: center;
 height: 10px;
}


.genreFilterBtn{
margin: 0 10px;
}